<mat-toolbar>
  <mat-toolbar-row>
    <div class="header">
      <img src="/assets/smiley.jpg" alt="logo" />
    </div>
    <span style="font-size: x-large; font-style: bold, italic; color: white"
      >Auth App</span
    >

    <button
      mat-flat-button
      *ngIf="_authService.isAdmin() || _authService.isDeveloper()"
      style="
        background-color: #0099ff;
        color: white;
        margin-left: 2rem;
        font-size: medium;
        font-family: Calibri;
      "
      [matMenuTriggerFor]="manageMenu"
    >
      Manage
    </button>
    <mat-menu #manageMenu="matMenu" yPosition="below">
      <button
        *ngIf="_authService.isAdmin() || _authService.isDeveloper()"
        mat-menu-item
        routerLink="/getuser"
        style="
        font-size: small;
        font-family: Arial;
      "
      >
        Get User
      </button>

      <button
        *ngIf="_authService.isAdmin()"
        mat-menu-item
        routerLink="/manageuser"
        style="
          font-size: small;
          font-family: Calibri;
        "
      >
        Manage User
      </button>
    </mat-menu>

    <!-- User name -->
    <span class="example-spacer"></span>
    <span flex></span>

    <button
      *ngIf="_authService.loggedIn()"
      mat-flat-button
      style="
        background-color: #0099ff;
        color: white;
        font-size: medium;
        font-family: Calibri;
      "
    >
      {{ _authService.getLoggedInUserFullName() }}
    </button>

    <!-- Logout button -->
    <button
      mat-flat-button
      *ngIf="_authService.loggedIn()"
      style="
        background-color: #0099ff;
        color: white;
        font-size: medium;
        font-family: Calibri;
      "
      (click)="logout()"
    >
      Logout
    </button>

    <!-- Login Icon -->
    <mat-icon
      *ngIf="!_authService.loggedIn()"
      routerLink="/login"
      style="margin-left: 2rem; color: white"
      >account_circle</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
