<div align="center">
  <mat-card class="mat-elevation-z8">
    <form [formGroup]="userForm">
      <div>
        <mat-form-field>
          <input
            formControlName="username"
            matInput
            ngDefaultControl
            placeholder="Username (xxx@gmail.com)"
            required
          />
          <mat-error *ngIf="userForm.invalid"
            >Please enter valid username</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Enter new password"
            required
          />
          <mat-error *ngIf="userForm.invalid">Please enter password</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
            formControlName="otp"
            matInput
            ngDefaultControl
            placeholder="Enter OTP"
            required
          />
          <mat-error *ngIf="userForm.invalid">Please enter OTP</mat-error>
        </mat-form-field>
      </div>
      <div align="center" style="margin-top: 50px; margin-bottom: 30px">
        <button mat-raised-button (click)="GetOTP(userForm)">Get OTP</button>
        <button mat-raised-button type="submit" (click)="resetForm(userForm)">
          Reset Password
        </button>
        <button mat-raised-button routerLink="/login">Back to Login</button>
      </div>
    </form>
  </mat-card>
</div>
