<div align="center">
  <mat-card class="mat-elevation-z8">
    <form [formGroup]="userForm">
      <div align="center">
        <mat-form-field>
          <input
            formControlName="userName"
            matInput
            ngDefaultControl
            placeholder="Username (xxx@gmail.com)"
            required
          />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="GetOTP(userForm)">
          Get OTP
        </button>
      </div>
      <div align="center">
        <mat-form-field style="margin-right: 160px">
          <input
            formControlName="otp"
            matInput
            ngDefaultControl
            placeholder="Enter OTP received"
            required
          />
        </mat-form-field>
      </div>
      <div align="center">
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Enter new password"
            required
          />
        </mat-form-field>

        <button mat-raised-button type="submit" (click)="resetForm(userForm)">
          Reset
        </button>
      </div>
      <div align="center" style="margin-top: 50px; margin-bottom: 30px">
        <button mat-raised-button routerLink="/login">Back to Login</button>
      </div>
    </form>
  </mat-card>
</div>
